<!DOCTYPE html>
<html>
<head>
    <title>{{ 'Chat_CustomerHelp'|translate }}</title>
    <link href="{{ piwikUrl }}plugins/Chat/stylesheets/client/popout.css" rel="stylesheet">
    <link href="{{ piwikUrl }}plugins/Chat/stylesheets/client/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<div class="chat-container chat-state-1">
    <div class="chat-wrapper">
        <div class="chat-header">
            <span class="header-title">
                <span class="circle green" style="{% if isStaffOnline == 0 %}display:none{% endif %}"></span>
                {{ 'Chat_CustomerHelp'|translate }}
            </span>
            <span class="action-logo">+</span>
        </div>
    </div>
</div>

<div class="chat-container chat-state-2">
    <div class="is-staff-online header-title">{% if isStaffOnline == 1 %}
            <div class="yes"><span class="circle"></span> {{ 'Chat_StaffOnline'|translate }}</div>{% endif %}</div>
    <div class="chat-state-2-content">
        <div class="chat-state-2-col-1">
            <i class="fa fa-comments"></i>
        </div>
        <div class="chat-state-2-col-2">
            <span>{{ 'Chat_AQuestion?'|translate }}<br/>{{ 'Chat_AnIssue?'|translate }}
                <br/><strong>{{ 'Chat_ChatWithUs'|translate }}</strong></span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="chat-state-2-input-container">
        <form action="" id="form-chat-state-2">
            <input type="text" class="chat-state-2-input" placeholder="{{ 'Chat_YourMessageHere'|translate }}"/>
            <input type="submit" class="chat-state-2-submit"/>
        </form>
    </div>
</div>

<div class="chat-container chat-state-3">
    <form id="form-chat-state-3">
        <div class="chat-wrapper">
            <div class="chat-header">
                <span class="header-title">
                    <span class="circle green" style="{% if isStaffOnline == 0 %}display:none{% endif %}"></span>
                    {{ 'Chat_CustomerHelp'|translate }}
                </span>
            </div>
            <div class="chat-content-block">
                <p class="notice"
                   style="{% if isStaffOnline == 0 %}display:none{% endif %}">{{ 'Chat_NotAvailable'|translate }}</p>

                <div class="input-container">
                    <label>{{ 'Chat_PresentYourself'|translate }}</label>
                    <input class="name" type="text" placeholder="{{ 'Chat_Name'|translate }}"/>
                    <input class="email" type="text" placeholder="{{ 'Chat_EmailAddress'|translate }}"/>

                    <label>{{ 'Chat_Message'|translate }}</label>
                    <textarea class="chat-input" placeholder="{{ 'Chat_WriteYourMessageHere'|translate }}"></textarea>
                    <br/>
                </div>
            </div>
            <div class="chat-push"></div>
        </div>
        <div class="chat-footer">
            <div class="margin-container-15">
                <input type="submit" class="submit-message" value="{{ 'Chat_SendMyMessage'|translate }}"/>
            </div>
        </div>
    </form>
</div>

<div class="chat-container chat-state-4">
    <div class="chat-wrapper">
        <div class="chat-header">
            <span class="header-title">
                <span class="circle green" style="{% if isStaffOnline == 0 %}display:none{% endif %}"></span>
                {{ 'Chat_CustomerHelp'|translate }}
            </span>
            <span class="action-logo">-</span>
        </div>
        <div id="chat-conversation"></div>
        <div class="chat-push"></div>
    </div>
    <div class="chat-footer">
        <div class="chat-input-container">
            <textarea class="chat-input" placeholder="{{ 'Chat_WriteYourMessageHere'|translate }}"></textarea>
        </div>
    </div>
</div>
<script src="{{ piwikUrl }}plugins/Chat/javascripts/moment.js"></script>
<script src="{{ piwikUrl }}plugins/Chat/javascripts/client/jquery.min.js"></script>
<script src="{{ piwikUrl }}plugins/Chat/javascripts/client/easyXDM.min.js"></script>
<script src="{{ piwikUrl }}plugins/Chat/javascripts/client/popout.js"></script>
<script>
    $(document).ready(function () {
        var popout = new Piwik_Chat_Popout();

        popout.setIdvisitor('{{ idvisitor }}');
        popout.setIdsite('{{ idsite }}');
        popout.setLanguage('{{ lang }}');

        popout.setTranslationTable({
            'You': '{{ 'Chat_You'|translate }}',
            'CustomerHelp': '{{ 'Chat_CustomerHelp'|translate }}',
            'StaffOnline': '{{ 'Chat_StaffOnline'|translate }}',
            'HasQuit': '{{ 'Chat_HasQuit'|translate }}',
            'HasJoin': '{{ 'Chat_HasJoin'|translate }}'
        });

        // Create a communication socket between this page and its parent page (the one displaying the iframe)
        var socket = new easyXDM.Socket({
            remote: '{{ siteUrl }}',
            onReady: function () {
                popout.setSocket(socket);
                popout.initialize();
            }
        });
    });
</script>
</body>
</html>
